div.tariff
    div.container
        div.row.row-tariffs
            div.col-md-3(data-animation="fadeIn" data-animation-delay="150ms")
                h2 Choosing a&nbsp;pricing plan
            div.col-md-3(data-animation="fadeIn" data-animation-delay="300ms") 
                div.tariff__card 
                    div.tariff__header
                        img(src="assets/img/icon-free.svg" alt="free")
                        div.tariff__header-text Free
                    div.tariff__price 0    
                    ul
                        li 5 Gb on SSD disk
                        li 5 sites
                        li 5 databases
                        li 24/7 support

                    button Get started
                        
            div.col-md-3(data-animation="fadeIn" data-animation-delay="450ms") 
                div.tariff__card.tariff__card--popular 
                    div.tariff__header
                        img(src="assets/img/icon-standard.svg" alt="standard")
                        div.tariff__header-text Standard
                    div.tariff__price 12    
                    ul
                        li 15 Gb on SSD disk
                        li 20 sites
                        li 20 databases
                        li 24/7 support

                    button Get started

            div.col-md-3(data-animation="fadeIn" data-animation-delay="600ms") 
                div.tariff__card 
                    div.tariff__header
                        img(src="assets/img/icon-premium.svg" alt="premium")
                        div.tariff__header-text Premium
                    div.tariff__price 49    
                    ul
                        li 20 Gb on SSD disk
                        li ∞ sites
                        li ∞ databases
                        li 24/7 support

                    button Get started            


        div.tariff__params
            div.row
                div.col-md-3 Parameter
                div.col-md-3 Free
                div.col-md-3 Standard
                div.col-md-3 Premium

            div.row
                div.col-md-3 Unlimited subdomains
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")

            div.row
                div.col-md-3 PHP support
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")

            div.row
                div.col-md-3 Free SSL-certificate
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="no")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")
            
            div.row
                div.col-md-3 xDebug support
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="no")
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/ok.svg" alt="yes")

            div.row
                div.col-md-3 Personal web-server
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="no")
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="yes")
                div.col-md-3 
                    img(src="assets/img/no.svg" alt="yes")